@mixin flex($display,$justify,$align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    margin-bottom: 40px;
}
.formulario{
    @include flex(flex,center ,center )
    
}
.contactanos{
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.boton-tamano{
    border: 1px solid map-get($map: $paleta, $key:dos );
    padding: 5px 15px;
    margin-top: 30px;
    margin-left: 56px;
    font-size: 1.5rem;
    background-color: map-get($map: $paleta, $key:uno );
}
.boton-tamano:hover{
    border: 1px solid map-get($map: $paleta, $key:dos );
    background-color: map-get($map: $paleta, $key:uno );
}
section button a{
    color: map-get($map: $paleta, $key:dos );
    text-align: center;
    font-size: 2rem;
    
}