@mixin flex($display,$justify,$align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    margin-bottom: 40px;
}
.formulario{
    @include flex(flex,center ,center )
    
}
.contactanos{
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.boton-tamano{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    font-size: 1.5rem;
}
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-bottom: 40px;