@media (min-width:992px){
    .gridContainer4{
        display: grid;
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 94.25px 200px 400px 150px;
        grid-template-areas: 
        "nav nav nav"
        "titulo titulo titulo"
        ". sobre ."
        "footer footer footer";
    }
}

@media (max-width:992px){
    .gridContainer4{
        display: grid;
        grid-template-columns: auto
    }
}

@media (max-width:1040px){
    .gridContainer4{
        display: grid;
        grid-template-columns: auto
    }
    .img-logo{
        width: 65%;
    }
}

@media(max-width:600px){
    .gridContainer1{
        grid-template-columns: 1fr;
    }
    .imgIndex{
        width: 100%;
    }
    .img{
        width: 90%;
    }
    .img-logo{
        width: 80%;
        display: flex;
        margin-right: 20px;

    }
    
    .gridContainer3{
        grid-template-columns: 1fr;
    }
}

@media(max-width:508px){
    .titulo{
            margin-left: 50px;
        }
    .img-logo{
        width: 75%;
    }
    .productos{
        width: 80%;
        margin: auto;
    }
    .img{
        width: 69.2%;
        margin: auto;
        margin-bottom: 42px;
    }
    .titulo{
        margin: auto;
        margin-top: 20px;
        font-size: 30px;
    }
}