.bg-color{
    background-color: map-get($map:$paleta, $key:'uno');
}


.nav{
    ul li a{
        font-weight: bold;
    }
    .animacion::after {
        content: "";
        display: block;
        height: 3px;
        background-color: map-get($map:$paleta, $key:'tres');
        transform: scale(0,1);
        transform-origin: center;
        transition: transform .25s;
    }
    a:hover::after {
        transform: scale(1,1);
    }

    
}






  
  