@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

html{
    font-size: 62.5%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
}
nav ul li a{
    color: black;
    font-weight: bold;
}
body{
    background-attachment: fixed;
    min-height: 100%;
}

.bg-color{
    background-color: #f589f280;
}
.padding{
    padding: 15px;
}

.img-lovers{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.productos{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.productos .tamano{
    border: solid black 5px;
    margin: 20px;
    padding: 15px;
    background-color: white;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 0px 0px;
    font-size: 4rem;
}